@import "../../styles.css";

.grid-container {
    border: 1px solid var(--muted);
    padding-inline: var(--spacing-medium);
    margin: var(--spacing-medium);
    border-radius: var(--border-radius-small);
}

.section-group {
    padding-block: var(--spacing-medium);
    &:not(:last-child) {
        border-bottom: 1px solid var(--muted);
    }
}

.section-title {
    font-size: 1.5rem;
}

.book-block {
    background-color: hsla(var(--primary-hsl) / 0.1);
    padding: var(--spacing-small);
    margin: var(--spacing-medium);
    border-radius: var(--border-radius-small);
    text-align: center;
}

.book-image {
    height: 100px;
    width: auto;
    margin-bottom: var(--spacing-small);
}

.book-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75;
    margin: 0;
}

.book-score::before {
    display: block;
    content: "";
    background-color: var(--muted);
    width: 75%;
    height: 1px;
    margin-inline: auto;
    margin-block: var(--spacing-small);
}