/* Select styling based on this 
https://moderncss.dev/custom-select-styles-with-pure-css/
 */
.select {
  background-color: var(--background);
  border: none;
  border-radius: var(--s1);
  padding: var(--s2);
  color: var(--body-text);
  border: 1px solid var(--muted);
  cursor: pointer;
  line-height: 1.1;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  &:focus-within {
    outline: 2px solid var(--primary);
  }
  select {
    background-color: var(--background);
  }
}

.select::after {
  content: "";
  justify-self: end;
  width: 0.75em;
  height: 0.5em;
  background-color: var(--accent-text);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select::after {
  grid-area: select;
}

pre {
  background-color: var(--background);
  font-family: var(--monospace-font);
  border-radius: 4px;
  overflow-x: auto;
  border-left: solid 3px;
  max-width: 100%;
  border-color: var(--primary);
  padding-inline: var(--s6);
  padding-block: var(--s3);
}

details {
  padding: var(--s3);
  background-color: var(--surface-variant);
  border-radius: var(--s2);
  margin-block: var(--s2);
  max-width: 100%;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: var(--s1);
}
