/* Select styling based on this 
https://moderncss.dev/custom-select-styles-with-pure-css/
 */
.select {
  background-color: var(--background);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-small);
  color: var(--body-text);
  border: 1px solid var(--muted);
  cursor: pointer;
  line-height: 1.1;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  &:focus-within {
    outline: var(--focus-outline);
  }
  select {
    background-color: var(--background);
  }
}

.select::after {
  content: "";
  justify-self: end;
  width: 0.75em;
  height: 0.5em;
  background-color: var(--accent-text);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select::after {
  grid-area: select;
}

pre {
  background-color: var(--background);
  font-family: var(--monospace-font);
  border-radius: var(--border-radius-medium);
  max-width: 100%;
  overflow-x: auto;
  border-left: var(--decorative-border);
  padding-inline: var(--spacing-large);
  padding-block: var(--spacing-medium);
}

details {
  padding: var(--spacing-medium);
  background-color: var(--surface-variant);
  border-radius: var(--border-radius-medium);
  margin-block: var(--spacing-small);
  max-width: 100%;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: var(--spacing-extra-small);
}
