.layout-container {
  min-height: 100vh;
  margin-inline: clamp(
    var(--min-edge, var(--s4)),
    var(--edge-size, 15%),
    var(--s11)
  );
  padding-inline: var(--layout-padding, var(--s9));
  padding-block: var(--s7);
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main";
  grid-template-rows: min-content min-content 1fr;
  gap: var(--s4);
  background-color: var(--surface);
  box-shadow: 0 0 var(--s4) rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  :root {
    --edge-size: 10%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --edge-size: 5%;
    --layout-padding: var(--s7);
  }
}
@media screen and (max-width: 480px) {
  :root {
    --edge-size: 0px;
    --min-edge: 0px;
    --layout-padding: var(--s5);
  }
}

.layout-nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  gap: var(--s5);
  align-items: center;
  .select {
    margin-inline-start: auto;
  }
}

.layout-header {
  grid-area: header;
  width: 100%;
  justify-self: center;
  text-align: center;
}

.layout-main {
  grid-area: main;
  max-width: 100%;
}
