@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Typography */
  --default-font: "Roboto", sans-serif;
  --monospace-font: "Roboto Mono", monospace;
  --link-decoration: none;
}

html {
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: var(--body-text);
  transition: color var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 110%;
  margin-block: 0.5em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: var(--accent-text);
  text-decoration: none;
  border-radius: var(--border-radius-small);
  transition: color var(--transition);


  &:hover {
    color: var(--body-text);
    text-decoration: underline;
  }

  &:active {
    color: var(--accent-text);
    text-decoration: underline;
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: 0.25em;
  }
}

.decorated-header {
  padding-block: var(--spacing-small);
  margin-block: var(--spacing-small);
  border-bottom: var( --decorative-border);
}