:root {
  /* Converted to hsl from nord css
    see nord.css for original file and source */
  --nord0-hsl: 220 16% 22%;
  --nord1-hsl: 222 16% 28%;
  --nord2-hsl: 220 17% 32%;
  --nord3-hsl: 220 16% 36%;
  --nord4-hsl: 219 28% 88%;
  --nord5-hsl: 218 27% 92%;
  --nord6-hsl: 218 27% 94%;
  --nord7-hsl: 179 25% 65%;
  --nord8-hsl: 193 43% 67%;
  --nord9-hsl: 210 34% 63%;
  --nord10-hsl: 213 32% 52%;
  --nord11-hsl: 354 42% 56%;
  --nord12-hsl: 14 51% 63%;
  --nord13-hsl: 40 71% 73%;
  --nord14-hsl: 92 28% 65%;
  --nord15-hsl: 311 20% 63%;

  --nord0: hsla(var(--nord0-hsl) / 1);
  --nord1: hsla(var(--nord1-hsl) / 1);
  --nord2: hsla(var(--nord2-hsl) / 1);
  --nord3: hsla(var(--nord3-hsl) / 1);
  --nord4: hsla(var(--nord4-hsl) / 1);
  --nord5: hsla(var(--nord5-hsl) / 1);
  --nord6: hsla(var(--nord6-hsl) / 1);
  --nord7: hsla(var(--nord7-hsl) / 1);
  --nord8: hsla(var(--nord8-hsl) / 1);
  --nord9: hsla(var(--nord9-hsl) / 1);
  --nord10: hsla(var(--nord10-hsl) / 1);
  --nord11: hsla(var(--nord11-hsl) / 1);
  --nord12: hsla(var(--nord12-hsl) / 1);
  --nord13: hsla(var(--nord13-hsl) / 1);
  --nord14: hsla(var(--nord14-hsl) / 1);
  --nord15: hsla(var(--nord15-hsl) / 1);
}

:root {
  /* Sizing */
  /* 4px */
  --s1: 0.25rem;
  /* 8px */
  --s2: 0.5rem;
  /* 12px */
  --s3: 0.75rem;
  /* 16px */
  --s4: 1rem;
  /* 24px */
  --s5: 1.5rem;
  /* 32px */
  --s6: 2rem;
  /* 48px */
  --s7: 3rem;
  /* 64px */
  --s8: 4rem;
  /* 96px */
  --s9: 6rem;
  /* 128px */
  --s10: 8rem;
  /* 256px */
  --s11: 16rem;
  /* 384px */
  --s12: 24rem;
  /* 512px */
  --s13: 32rem;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

:root {
  color-scheme: var(--color-scheme, dark);

  --primary: var(--nord8);
  --primary-hsl: var(--nord8-hsl);
  --secondary: var(--nord7);
  --secondary-hsl: var(--nord7-hsl);
  --tertiary: var(--nord10);
  --tertiary-hsl: var(--nord10-hsl);

  --success: var(--nord14);
  --success-hsl: var(--nord14-hsl);
  --warn: var(--nord12);
  --warn-hsl: var(--nord12-hsl);
  --error: var(--nord11);
  --error-hsl: var(--nord11-hsl);

  /* Dark Theme */
  --dark-theme-background: var(--nord0);
  --dark-theme-body-text: var(--nord6);
  --dark-theme-surface: var(--nord1);
  --dark-theme-surface-variant: var(--nord2);
  --dark-theme-muted: var(--nord3);
  --dark-theme-muted-hsl: var(--nord3-hsl);
  --dark-theme-muted-text: var(--nord4);
  --dark-theme-accent-text: var(--primary);

  /* Light Theme */
  --light-theme-background: var(--nord4);
  --light-theme-body-text: var(--nord0);
  --light-theme-surface: var(--nord5);
  --light-theme-surface-variant: var(--nord6);
  --light-theme-muted-hsl: var(--nord3-hsl);
  --light-theme-muted: hsla(var(--light-theme-muted-hsl) / 0.5);
  --light-theme-muted-text: var(--nord1);
  --light-theme-accent-text: hsl(193, 81%, 32%);

  --background: var(--dark-theme-background);
  --body-text: var(--dark-theme-body-text);
  --surface: var(--dark-theme-surface);
  --surface-variant: var(--dark-theme-surface-variant);
  --muted: var(--dark-theme-muted);
  --muted-hsl: var(--dark-theme-muted-hsl);
  --muted-text: var(--dark-theme-muted-text);
  --accent-text: var(--dark-theme-accent-text);

  /* page preference is "light" */
  /* https://www.smashingmagazine.com/2024/03/setting-persisting-color-scheme-preferences-css-javascript/ */
  &:has(#color-scheme option[value="light"]:checked) {
    --color-scheme: light;
    --background: var(--light-theme-background);
    --body-text: var(--light-theme-body-text);
    --surface: var(--light-theme-surface);
    --surface-variant: var(--light-theme-surface-variant);
    --muted: var(--light-theme-muted);
    --muted-hsl: var(--light-theme-muted-hsl);
    --muted-text: var(--light-theme-muted-text);
    --accent-text: var(--light-theme-accent-text);
  }

  @media (prefers-color-scheme: light) {
    &:has(#color-scheme option[value="system"]:checked) {
      /*Light Theme*/
      --color-scheme: light;
      --background: var(--light-theme-background);
      --body-text: var(--light-theme-body-text);
      --surface: var(--light-theme-surface);
      --surface-variant: var(--light-theme-surface-variant);
      --muted: var(--light-theme-muted);
      --muted-hsl: var(--light-theme-muted-hsl);
      --muted-text: var(--light-theme-muted-text);
      --accent-text: var(--light-theme-accent-text);
    }
  }
}
